openapi: 3.1.0
info:
  title: KEYFORTA API
  version: 1.0.0
  description: Versioned target contract for the multi-organization rental and property operations platform. Operations marked x-keyforta-runtime are implemented.
servers:
  - url: https://api.keyforta.com/api/v1
  - url: http://localhost:3000/api/v1
security:
  - bearerAuth: []
paths:
  /access-requests:
    post:
      tags: [Public]
      operationId: requestAccess
      security: []
      requestBody: { $ref: '#/components/requestBodies/AccessRequest' }
      responses: { '202': { $ref: '#/components/responses/PublicRequestAccepted' } }
  /contact-requests:
    post:
      tags: [Public]
      operationId: sendContactMessage
      security: []
      requestBody: { $ref: '#/components/requestBodies/ContactRequest' }
      responses: { '202': { $ref: '#/components/responses/PublicRequestAccepted' } }
  /viewing-requests:
    post:
      tags: [Public]
      operationId: requestViewing
      x-keyforta-runtime: true
      security: []
      parameters: [{ $ref: '#/components/parameters/RequestCorrelation' }]
      requestBody: { $ref: '#/components/requestBodies/ViewingRequest' }
      responses: { '202': { $ref: '#/components/responses/PublicRequestAccepted' }, '429': { $ref: '#/components/responses/RateLimited' } }
  /auth/signup/landlords:
    post:
      tags: [Identity]
      operationId: registerLandlord
      security: []
      requestBody: { $ref: '#/components/requestBodies/LandlordRegistration' }
      responses: { '202': { $ref: '#/components/responses/PublicRequestAccepted' } }
  /auth/signup/maintenance-operators:
    post:
      tags: [Identity]
      operationId: registerMaintenanceOperator
      security: []
      requestBody: { $ref: '#/components/requestBodies/OperatorRegistration' }
      responses: { '202': { $ref: '#/components/responses/PublicRequestAccepted' } }
  /landlord-onboarding-applications:
    post:
      tags: [Identity]
      operationId: submitLandlordOnboardingApplication
      x-keyforta-runtime: true
      parameters: [{ $ref: '#/components/parameters/RequestCorrelation' }]
      requestBody: { $ref: '#/components/requestBodies/LandlordOnboardingApplication' }
      responses: { '201': { $ref: '#/components/responses/LandlordOnboardingApplication' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '409': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } }
    get:
      tags: [Administration]
      operationId: listLandlordOnboardingApplications
      x-keyforta-runtime: true
      description: Requires a verified Entra oid in the configured platform-admin allowlist. Denied identities receive a generic not-found response.
      parameters: [{ $ref: '#/components/parameters/RequestCorrelation' }]
      responses: { '200': { $ref: '#/components/responses/LandlordOnboardingApplicationList' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } }
  /landlord-onboarding-applications/{applicationId}/decision:
    post:
      tags: [Administration]
      operationId: decideLandlordOnboardingApplication
      x-keyforta-runtime: true
      description: Requires a verified Entra oid in the configured platform-admin allowlist.
      parameters: [{ $ref: '#/components/parameters/LandlordOnboardingApplicationId' }, { $ref: '#/components/parameters/RequestCorrelation' }]
      requestBody: { $ref: '#/components/requestBodies/LandlordOnboardingDecision' }
      responses: { '200': { $ref: '#/components/responses/LandlordOnboardingApplication' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '409': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } }
  /me:
    get:
      tags: [Identity]
      operationId: getCurrentProfile
      responses: { '200': { $ref: '#/components/responses/Profile' } }
  /organizations:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      responses: { '200': { $ref: '#/components/responses/List' } }
    post:
      tags: [Organizations]
      operationId: createOrganization
      requestBody: { $ref: '#/components/requestBodies/Organization' }
      responses: { '201': { $ref: '#/components/responses/Organization' } }
  /organizations/{organizationId}:
    get: { tags: [Organizations], operationId: getOrganization, parameters: [{ $ref: '#/components/parameters/OrganizationId' }], responses: { '200': { $ref: '#/components/responses/Organization' } } }
    patch: { tags: [Organizations], operationId: updateOrganization, parameters: [{ $ref: '#/components/parameters/OrganizationId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Organization' } } }
  /profiles:
    get: { tags: [Identity], operationId: listProfiles, responses: { '200': { $ref: '#/components/responses/List' } } }
  /profiles/{profileId}:
    get: { tags: [Identity], operationId: getProfile, parameters: [{ $ref: '#/components/parameters/ProfileId' }], responses: { '200': { $ref: '#/components/responses/Profile' } } }
    patch: { tags: [Identity], operationId: updateProfile, parameters: [{ $ref: '#/components/parameters/ProfileId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Profile' } } }
  /manager-invitations:
    get: { tags: [Organizations], operationId: listManagerInvitations, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Organizations], operationId: inviteManager, requestBody: { $ref: '#/components/requestBodies/ManagerInvitation' }, responses: { '201': { $ref: '#/components/responses/Invitation' } } }
  /manager-invitations/{invitationId}/accept:
    post: { tags: [Organizations], operationId: acceptInvitation, parameters: [{ $ref: '#/components/parameters/InvitationId' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Invitation' } } }
  /properties:
    get: { tags: [Inventory], operationId: listProperties, x-keyforta-runtime: true, security: [], parameters: [{ $ref: '#/components/parameters/PublicPropertyCity' }, { $ref: '#/components/parameters/PublicPropertyDistrict' }, { $ref: '#/components/parameters/PublicPropertyMinBedrooms' }, { $ref: '#/components/parameters/PublicPropertyMaxRent' }, { $ref: '#/components/parameters/Pagination' }, { $ref: '#/components/parameters/PublicPropertyLimit' }, { $ref: '#/components/parameters/PublicPropertySort' }, { $ref: '#/components/parameters/RequestCorrelation' }], responses: { '200': { $ref: '#/components/responses/PublicPropertyList' } } }
    post: { tags: [Inventory], operationId: createProperty, requestBody: { $ref: '#/components/requestBodies/Property' }, responses: { '201': { $ref: '#/components/responses/Property' } } }
  /properties/{propertyId}:
    get: { tags: [Inventory], operationId: getProperty, x-keyforta-runtime: true, security: [], parameters: [{ $ref: '#/components/parameters/PublicPropertyId' }, { $ref: '#/components/parameters/RequestCorrelation' }], responses: { '200': { $ref: '#/components/responses/PublicProperty' } } }
    patch: { tags: [Inventory], operationId: updateProperty, parameters: [{ $ref: '#/components/parameters/PropertyId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Property' } } }
    delete: { tags: [Inventory], operationId: archiveProperty, parameters: [{ $ref: '#/components/parameters/PropertyId' }], responses: { '204': { description: Archived } } }
  /properties/{propertyId}/verification-status:
    patch:
      tags: [Administration]
      operationId: setPropertyVerificationStatus
      x-keyforta-runtime: true
      parameters:
        - { $ref: '#/components/parameters/PropertyId' }
        - { $ref: '#/components/parameters/OrganizationContext' }
        - { $ref: '#/components/parameters/RequestCorrelation' }
      requestBody: { $ref: '#/components/requestBodies/PropertyVerificationStatus' }
      responses: { '200': { $ref: '#/components/responses/PropertyVerificationStatus' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } }
  /admin/jurisdiction-policies/activate:
    post:
      tags: [Administration]
      operationId: activateJurisdictionPolicy
      x-keyforta-runtime: true
      parameters: [{ $ref: '#/components/parameters/RequestCorrelation' }]
      requestBody: { $ref: '#/components/requestBodies/JurisdictionPolicyActivation' }
      responses: { '201': { $ref: '#/components/responses/JurisdictionPolicyActivation' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } }
  /public-listings/{listingId}/publish:
    post: { tags: [Inventory], operationId: publishPublicListing, x-keyforta-runtime: true, parameters: [{ $ref: '#/components/parameters/PublicListingId' }, { $ref: '#/components/parameters/OrganizationContext' }, { $ref: '#/components/parameters/RequestCorrelation' }], responses: { '200': { $ref: '#/components/responses/PublicListingPublication' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } } }
  /public-listings/{listingId}/withdraw:
    post: { tags: [Inventory], operationId: withdrawPublicListing, x-keyforta-runtime: true, parameters: [{ $ref: '#/components/parameters/PublicListingId' }, { $ref: '#/components/parameters/OrganizationContext' }, { $ref: '#/components/parameters/RequestCorrelation' }], responses: { '200': { $ref: '#/components/responses/PublicListingPublication' }, '400': { $ref: '#/components/responses/Problem' }, '401': { $ref: '#/components/responses/Problem' }, '404': { $ref: '#/components/responses/Problem' }, '503': { $ref: '#/components/responses/Problem' } } }
  /units:
    get: { tags: [Inventory], operationId: listUnits, parameters: [{ $ref: '#/components/parameters/Pagination' }], responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Inventory], operationId: createUnit, requestBody: { $ref: '#/components/requestBodies/Unit' }, responses: { '201': { $ref: '#/components/responses/Unit' } } }
  /units/{unitId}:
    get: { tags: [Inventory], operationId: getUnit, parameters: [{ $ref: '#/components/parameters/UnitId' }], responses: { '200': { $ref: '#/components/responses/Unit' } } }
    patch: { tags: [Inventory], operationId: updateUnit, parameters: [{ $ref: '#/components/parameters/UnitId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Unit' } } }
  /rental-applications:
    get: { tags: [Leasing], operationId: listRentalApplications, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Leasing], operationId: submitRentalApplication, requestBody: { $ref: '#/components/requestBodies/RentalApplication' }, responses: { '201': { $ref: '#/components/responses/Application' } } }
  /rental-applications/{applicationId}/approve:
    post: { tags: [Leasing], operationId: approveRentalApplication, parameters: [{ $ref: '#/components/parameters/ApplicationId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Decision' }, responses: { '200': { $ref: '#/components/responses/Application' } } }
  /rental-applications/{applicationId}/reject:
    post: { tags: [Leasing], operationId: rejectRentalApplication, parameters: [{ $ref: '#/components/parameters/ApplicationId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Decision' }, responses: { '200': { $ref: '#/components/responses/Application' } } }
  /rental-applications/{applicationId}/request-changes:
    post: { tags: [Leasing], operationId: requestRentalApplicationChanges, parameters: [{ $ref: '#/components/parameters/ApplicationId' }], requestBody: { $ref: '#/components/requestBodies/Decision' }, responses: { '200': { $ref: '#/components/responses/Application' } } }
  /leases:
    get: { tags: [Leasing], operationId: listLeases, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Leasing], operationId: createLease, requestBody: { $ref: '#/components/requestBodies/Lease' }, responses: { '201': { $ref: '#/components/responses/Lease' } } }
  /leases/{leaseId}:
    get: { tags: [Leasing], operationId: getLease, parameters: [{ $ref: '#/components/parameters/LeaseId' }], responses: { '200': { $ref: '#/components/responses/Lease' } } }
    patch: { tags: [Leasing], operationId: updateLeaseDraft, parameters: [{ $ref: '#/components/parameters/LeaseId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Lease' } } }
  /leases/{leaseId}/sign:
    post: { tags: [Leasing], operationId: signLease, parameters: [{ $ref: '#/components/parameters/LeaseId' }, { $ref: '#/components/parameters/IfMatch' }], responses: { '200': { $ref: '#/components/responses/Lease' } } }
  /leases/{leaseId}/activate:
    post: { tags: [Leasing], operationId: activateLease, parameters: [{ $ref: '#/components/parameters/LeaseId' }, { $ref: '#/components/parameters/IfMatch' }], responses: { '200': { $ref: '#/components/responses/Lease' } } }
  /charges:
    get: { tags: [Finance], operationId: listCharges, responses: { '200': { $ref: '#/components/responses/List' } } }
  /payments:
    get: { tags: [Finance], operationId: listPayments, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Finance], operationId: recordPayment, requestBody: { $ref: '#/components/requestBodies/Payment' }, responses: { '201': { $ref: '#/components/responses/Payment' } } }
  /payments/{paymentId}/reconcile:
    post: { tags: [Finance], operationId: reconcilePayment, parameters: [{ $ref: '#/components/parameters/PaymentId' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/Payment' } } }
  /service-offers:
    get: { tags: [Maintenance], operationId: listServiceOffers, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Maintenance], operationId: publishServiceOffer, requestBody: { $ref: '#/components/requestBodies/ServiceOffer' }, responses: { '201': { $ref: '#/components/responses/ServiceOffer' } } }
  /maintenance-requests:
    get: { tags: [Maintenance], operationId: listMaintenanceRequests, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Maintenance], operationId: createMaintenanceRequest, requestBody: { $ref: '#/components/requestBodies/MaintenanceRequest' }, responses: { '201': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}:
    get: { tags: [Maintenance], operationId: getMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }], responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/triage:
    post: { tags: [Maintenance], operationId: triageMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/assign:
    post: { tags: [Maintenance], operationId: assignMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/accept:
    post: { tags: [Maintenance], operationId: acceptMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/schedule:
    post: { tags: [Maintenance], operationId: scheduleMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/start:
    post: { tags: [Maintenance], operationId: startMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/complete:
    post: { tags: [Maintenance], operationId: completeMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/confirm:
    post: { tags: [Maintenance], operationId: confirmMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/reopen:
    post: { tags: [Maintenance], operationId: reopenMaintenanceRequest, parameters: [{ $ref: '#/components/parameters/RequestId' }, { $ref: '#/components/parameters/IfMatch' }, { $ref: '#/components/parameters/IdempotencyKey' }], requestBody: { $ref: '#/components/requestBodies/Patch' }, responses: { '200': { $ref: '#/components/responses/MaintenanceRequest' } } }
  /maintenance-requests/{requestId}/quotes: { post: { tags: [Maintenance], operationId: submitQuote, parameters: [{ $ref: '#/components/parameters/RequestId' }], requestBody: { $ref: '#/components/requestBodies/Quote' }, responses: { '201': { $ref: '#/components/responses/Quote' } } } }
  /maintenance-quotes/{quoteId}/approve: { post: { tags: [Maintenance], operationId: approveMaintenanceQuote, parameters: [{ $ref: '#/components/parameters/QuoteId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Decision' }, responses: { '200': { $ref: '#/components/responses/Quote' } } } }
  /maintenance-quotes/{quoteId}/reject: { post: { tags: [Maintenance], operationId: rejectMaintenanceQuote, parameters: [{ $ref: '#/components/parameters/QuoteId' }, { $ref: '#/components/parameters/IfMatch' }], requestBody: { $ref: '#/components/requestBodies/Decision' }, responses: { '200': { $ref: '#/components/responses/Quote' } } } }
  /maintenance-requests/{requestId}/reports: { post: { tags: [Maintenance], operationId: submitReport, parameters: [{ $ref: '#/components/parameters/RequestId' }], requestBody: { $ref: '#/components/requestBodies/Report' }, responses: { '201': { $ref: '#/components/responses/Report' } } } }
  /documents:
    get: { tags: [Communication], operationId: listDocuments, responses: { '200': { $ref: '#/components/responses/List' } } }
    post: { tags: [Communication], operationId: createDocument, requestBody: { $ref: '#/components/requestBodies/Document' }, responses: { '201': { $ref: '#/components/responses/Document' } } }
  /conversations: { get: { tags: [Communication], operationId: listConversations, responses: { '200': { $ref: '#/components/responses/List' } } } }
  /conversations/{conversationId}/messages: { post: { tags: [Communication], operationId: sendMessage, parameters: [{ $ref: '#/components/parameters/ConversationId' }], requestBody: { $ref: '#/components/requestBodies/Message' }, responses: { '201': { $ref: '#/components/responses/Message' } } } }
  /notifications: { get: { tags: [Communication], operationId: listNotifications, responses: { '200': { $ref: '#/components/responses/List' } } } }
  /audit-events: { get: { tags: [Administration], operationId: listAuditEvents, responses: { '200': { $ref: '#/components/responses/List' } } } }
components:
  securitySchemes: { bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT } }
  headers:
    RequestId: { description: Server-selected request correlation ID, schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$' } }
  parameters:
    Pagination: { name: cursor, in: query, schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]*$' } }
    PublicPropertyCity: { name: city, in: query, schema: { type: string, minLength: 1, maxLength: 120 } }
    PublicPropertyDistrict: { name: district, in: query, schema: { type: string, minLength: 1, maxLength: 120 } }
    PublicPropertyMinBedrooms: { name: minBedrooms, in: query, schema: { type: integer, minimum: 0, maximum: 100 } }
    PublicPropertyMaxRent: { name: maxMonthlyRentMinor, in: query, description: Maximum monthly rent in integer minor units encoded as a decimal string, schema: { type: string, pattern: '^[1-9][0-9]{0,17}$' } }
    PublicPropertyLimit: { name: limit, in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 20 } }
    PublicPropertySort: { name: sort, in: query, schema: { type: string, enum: [created_at_desc, name_asc, name_desc], default: created_at_desc } }
    PublicPropertyId: { name: propertyId, in: path, required: true, schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]*$' } }
    PublicListingId: { name: listingId, in: path, required: true, schema: { type: string, format: uuid } }
    LandlordOnboardingApplicationId: { name: applicationId, in: path, required: true, schema: { type: string, format: uuid } }
    RequestCorrelation: { name: X-Request-Id, in: header, required: false, description: Optional caller correlation ID; the server generates one when omitted or invalid, schema: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]{0,127}$' } }
    OrganizationContext: { name: x-organization-id, in: header, required: true, description: Requested organization context; the authenticated subject must have an active effective membership, schema: { type: string, format: uuid } }
    IfMatch: { name: If-Match, in: header, schema: { type: string } }
    IdempotencyKey: { name: Idempotency-Key, in: header, schema: { type: string, maxLength: 128 } }
    OrganizationId: { name: organizationId, in: path, required: true, schema: { type: string } }
    ProfileId: { name: profileId, in: path, required: true, schema: { type: string } }
    InvitationId: { name: invitationId, in: path, required: true, schema: { type: string } }
    PropertyId: { name: propertyId, in: path, required: true, schema: { type: string } }
    UnitId: { name: unitId, in: path, required: true, schema: { type: string } }
    ApplicationId: { name: applicationId, in: path, required: true, schema: { type: string } }
    LeaseId: { name: leaseId, in: path, required: true, schema: { type: string } }
    PaymentId: { name: paymentId, in: path, required: true, schema: { type: string } }
    RequestId: { name: requestId, in: path, required: true, schema: { type: string } }
    QuoteId: { name: quoteId, in: path, required: true, schema: { type: string } }
    ConversationId: { name: conversationId, in: path, required: true, schema: { type: string } }
  requestBodies:
    AccessRequest: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/AccessRequestInput' } } } }
    ContactRequest: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ContactRequestInput' } } } }
    ViewingRequest: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ViewingRequestInput' } } } }
    LandlordRegistration: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LandlordRegistrationInput' } } } }
    OperatorRegistration: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/OperatorRegistrationInput' } } } }
    LandlordOnboardingApplication: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LandlordOnboardingApplicationInput' } } } }
    LandlordOnboardingDecision: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LandlordOnboardingDecisionInput' } } } }
    JurisdictionPolicyActivation: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/JurisdictionPolicyActivationInput' } } } }
    Organization: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/OrganizationInput' } } } }
    ManagerInvitation: { required: true, content: { application/json: { schema: { type: object, required: [email, organizationId], properties: { email: { type: string, format: email }, organizationId: { type: string } } } } } }
    Property: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PropertyInput' } } } }
    PropertyVerificationStatus: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PropertyVerificationStatusInput' } } } }
    Unit: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/UnitInput' } } } }
    RentalApplication: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/RentalApplicationInput' } } } }
    Lease: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/LeaseInput' } } } }
    Payment: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/PaymentInput' } } } }
    ServiceOffer: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ServiceOfferInput' } } } }
    MaintenanceRequest: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/MaintenanceRequestInput' } } } }
    Quote: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/QuoteInput' } } } }
    Report: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/ReportInput' } } } }
    Document: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DocumentInput' } } } }
    Message: { required: true, content: { application/json: { schema: { type: object, required: [body], properties: { body: { type: string }, attachmentIds: { type: array, items: { type: string } } } } } } }
    Decision: { required: true, content: { application/json: { schema: { type: object, required: [reason], properties: { reason: { type: string }, note: { type: string } } } } } }
    Patch: { required: true, content: { application/json: { schema: { type: object, additionalProperties: true } } } }
  responses:
    PublicRequestAccepted: { description: Request accepted for processing, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublicRequestReceipt' } } } }
    RateLimited: { description: Caller exceeded the request rate limit, headers: { Retry-After: { schema: { type: integer, minimum: 1 } }, X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/Problem' } } } }
    Profile: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Organization: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Invitation: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Property: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    PublicProperty: { description: Published public-safe property, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublicPropertyEnvelope' } } } }
    PublicPropertyList: { description: Published public-safe properties, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublicPropertyListEnvelope' } } } }
    PublicListingPublication: { description: Listing publication state changed, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/PublicListingPublicationEnvelope' } } } }
    JurisdictionPolicyActivation: { description: Jurisdiction policy activated, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/JurisdictionPolicyActivationEnvelope' } } } }
    LandlordOnboardingApplication: { description: Landlord onboarding application, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/LandlordOnboardingApplicationEnvelope' } } } }
    LandlordOnboardingApplicationList: { description: Landlord onboarding review queue, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/LandlordOnboardingApplicationListEnvelope' } } } }
    PropertyVerificationStatus: { description: Property verification status changed, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/PropertyVerificationStatusEnvelope' } } } }
    Problem: { description: Correlated error response, headers: { X-Request-Id: { $ref: '#/components/headers/RequestId' } }, content: { application/json: { schema: { $ref: '#/components/schemas/Problem' } } } }
    Unit: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Application: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Lease: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Payment: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    ServiceOffer: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    MaintenanceRequest: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Quote: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Report: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Document: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    Message: { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Envelope' } } } }
    List: { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/ListEnvelope' } } } }
  schemas:
    Problem: { type: object, required: [error], properties: { error: { type: object, required: [code, details, message, traceId], properties: { code: { type: string }, details: { type: object }, message: { type: string }, traceId: { type: string } }, additionalProperties: false } }, additionalProperties: false }
    PublicRequestReceipt: { type: object, required: [data, meta], properties: { data: { type: object, required: [reference, status], properties: { reference: { type: string }, status: { type: string, enum: [accepted] } }, additionalProperties: false }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    AccessRequestInput: { type: object, required: [name, email, role], properties: { name: { type: string, minLength: 2, maxLength: 120 }, email: { type: string, format: email }, role: { type: string, enum: [tenant, landlord, property_manager, maintenance_operator] }, location: { type: string, maxLength: 160 }, interest: { type: string, maxLength: 500 }, locale: { type: string, enum: [en, fr] } } }
    ContactRequestInput: { type: object, required: [name, email, topic, message], properties: { name: { type: string, minLength: 2, maxLength: 120 }, email: { type: string, format: email }, topic: { type: string, enum: [general, tenant_support, landlord_inquiry, safety_concern] }, message: { type: string, minLength: 10, maxLength: 4000 }, locale: { type: string, enum: [en, fr] } } }
    ViewingRequestInput: { type: object, required: [propertyId, name, email], properties: { propertyId: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]*$' }, name: { type: string, minLength: 2, maxLength: 120 }, email: { type: string, format: email, maxLength: 254 }, phone: { type: string, minLength: 7, maxLength: 40 }, preferredAt: { type: string, format: date-time, pattern: 'Z$' }, message: { type: string, maxLength: 1000 }, locale: { type: string, enum: [en, fr] }, website: { type: string, maxLength: 0, description: Honeypot field; must remain empty } }, additionalProperties: false }
    LandlordRegistrationInput: { type: object, required: [name, email, phone, organization], properties: { name: { type: string, minLength: 2, maxLength: 120 }, email: { type: string, format: email }, phone: { type: string, maxLength: 40 }, organization: { type: string, minLength: 2, maxLength: 160 }, locale: { type: string, enum: [en, fr] } } }
    OperatorRegistrationInput: { type: object, required: [name, email, phone, services, coverage], properties: { name: { type: string, minLength: 2, maxLength: 120 }, email: { type: string, format: email }, phone: { type: string, maxLength: 40 }, services: { type: array, minItems: 1, items: { type: string } }, coverage: { type: array, minItems: 1, items: { type: string } }, locale: { type: string, enum: [en, fr] } } }
    Base: { type: object, required: [id, organizationId, createdAt, updatedAt, version], properties: { id: { type: string }, organizationId: { type: string }, createdAt: { type: string, format: date-time }, updatedAt: { type: string, format: date-time }, version: { type: integer } } }
    Meta: { type: object, required: [requestId], properties: { requestId: { type: string } }, additionalProperties: false }
    Money: { type: object, required: [amountMinor, currency], properties: { amountMinor: { type: integer }, currency: { type: string, minLength: 3, maxLength: 3 } }, additionalProperties: false }
    PublicPropertyProjection: { type: object, required: [id, name, address, city, district, summary, bedrooms, bathrooms, monthlyRentMinor, currency, availableFrom, amenities, imageUrls], properties: { id: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]*$' }, name: { type: string }, address: { type: string, description: Approved approximate location only }, city: { type: string }, district: { type: string }, summary: { type: string }, bedrooms: { type: integer, minimum: 0 }, bathrooms: { type: integer, minimum: 1 }, areaSquareMeters: { type: integer, minimum: 1 }, monthlyRentMinor: { type: string, pattern: '^[1-9][0-9]*$' }, currency: { type: string, pattern: '^[A-Z]{3}$' }, availableFrom: { type: string, format: date }, amenities: { type: array, items: { type: string } }, imageUrl: { type: string }, imageUrls: { type: array, minItems: 1, items: { type: string } } }, additionalProperties: false }
    PublicPropertyEnvelope: { type: object, required: [data, meta], properties: { data: { $ref: '#/components/schemas/PublicPropertyProjection' }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    PublicPropertyListEnvelope: { type: object, required: [items, total, nextCursor, meta], properties: { items: { type: array, items: { $ref: '#/components/schemas/PublicPropertyProjection' } }, total: { type: integer, minimum: 0 }, nextCursor: { type: string, minLength: 1, maxLength: 128, pattern: '^[A-Za-z0-9][A-Za-z0-9_-]*$', nullable: true }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    PublicListingPublicationEnvelope: { type: object, required: [data, meta], properties: { data: { type: object, required: [listingId, status], properties: { listingId: { type: string, format: uuid }, status: { type: string, enum: [published, withdrawn] } }, additionalProperties: false }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    JurisdictionPolicyActivationInput: { type: object, required: [policyKey, jurisdictionCode, version, rulePayload, requiresCounselApproval, ownerApproval, effectiveFrom], properties: { policyKey: { type: string, pattern: '^[a-z][a-z0-9_]{2,79}$', minLength: 1, maxLength: 80 }, jurisdictionCode: { type: string, pattern: '^[A-Z]{2}(-[A-Z0-9]{1,6})?$' }, version: { type: integer, minimum: 1 }, rulePayload: { type: object }, requiresCounselApproval: { type: boolean }, ownerApproval: { type: object, required: [approvedByUserId, sourceReference], properties: { approvedAt: { type: string, format: date-time, pattern: 'Z$' }, approvedByUserId: { type: string, format: uuid }, evidenceHash: { type: string, minLength: 1, maxLength: 200 }, sourceReference: { type: string, minLength: 1, maxLength: 500 } }, additionalProperties: false }, counselApproval: { type: object, nullable: true, required: [approvedByUserId, sourceReference], properties: { approvedAt: { type: string, format: date-time, pattern: 'Z$' }, approvedByUserId: { type: string, format: uuid }, evidenceHash: { type: string, minLength: 1, maxLength: 200 }, sourceReference: { type: string, minLength: 1, maxLength: 500 } }, additionalProperties: false }, effectiveFrom: { type: string, format: date-time, pattern: 'Z$' }, effectiveTo: { type: string, format: date-time, pattern: 'Z$', nullable: true } }, additionalProperties: false }
    JurisdictionPolicyActivationEnvelope: { type: object, required: [data, meta], properties: { data: { type: object, required: [activationId, jurisdictionCode, policyKey, policyVersionId, version], properties: { activationId: { type: string, format: uuid }, jurisdictionCode: { type: string, pattern: '^[A-Z]{2}(-[A-Z0-9]{1,6})?$' }, policyKey: { type: string }, policyVersionId: { type: string, format: uuid }, version: { type: integer, minimum: 1 } }, additionalProperties: false }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    PropertyVerificationStatusInput: { type: object, required: [status], properties: { status: { type: string, enum: [not_started, pending, changes_requested, verified, rejected, expired, suspended] } }, additionalProperties: false }
    PropertyVerificationStatusEnvelope: { type: object, required: [data, meta], properties: { data: { type: object, required: [propertyId, status], properties: { propertyId: { type: string, format: uuid }, status: { type: string, enum: [not_started, pending, changes_requested, verified, rejected, expired, suspended] } }, additionalProperties: false }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    LandlordOnboardingApplicationInput: { type: object, required: [applicantName, proposedOrganizationName], properties: { applicantName: { type: string, minLength: 2, maxLength: 120, pattern: '^\s*\S(?:.*\S)\s*$' }, proposedOrganizationName: { type: string, minLength: 2, maxLength: 160, pattern: '^\s*\S(?:.*\S)\s*$' } }, additionalProperties: false }
    LandlordOnboardingDecisionInput: { type: object, required: [decision, reason], properties: { decision: { type: string, enum: [approved, rejected] }, reason: { type: string, minLength: 3, maxLength: 1000, pattern: '^\s*\S.{1,}\S\s*$' } }, additionalProperties: false }
    LandlordOnboardingApplication: { type: object, required: [id, applicantName, proposedOrganizationName, status, submittedAt, decidedAt, decisionReason], properties: { id: { type: string, format: uuid }, applicantName: { type: string }, proposedOrganizationName: { type: string }, status: { type: string, enum: [pending, approved, rejected] }, submittedAt: { type: string, format: date-time }, decidedAt: { type: [string, 'null'], format: date-time }, decisionReason: { type: [string, 'null'] } }, additionalProperties: false }
    LandlordOnboardingApplicationEnvelope: { type: object, required: [data, meta], properties: { data: { $ref: '#/components/schemas/LandlordOnboardingApplication' }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    LandlordOnboardingApplicationListEnvelope: { type: object, required: [items, meta], properties: { items: { type: array, items: { $ref: '#/components/schemas/LandlordOnboardingApplication' } }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    Envelope: { type: object, required: [data, meta], properties: { data: { type: object, additionalProperties: true }, meta: { $ref: '#/components/schemas/Meta' }, auditEventId: { type: string } }, additionalProperties: false }
    ListEnvelope: { type: object, required: [items, total, meta], properties: { items: { type: array, items: { type: object, additionalProperties: true } }, total: { type: integer, minimum: 0 }, nextCursor: { type: string, nullable: true }, meta: { $ref: '#/components/schemas/Meta' } }, additionalProperties: false }
    OrganizationInput: { type: object, required: [name, timezone], properties: { name: { type: string }, timezone: { type: string } } }
    PropertyInput: { type: object, required: [name, address, city], properties: { name: { type: string }, address: { type: string }, city: { type: string }, managerId: { type: string } } }
    UnitInput: { type: object, required: [propertyId, label, type, bedrooms, bathrooms, monthlyRent], properties: { propertyId: { type: string }, label: { type: string }, type: { type: string }, bedrooms: { type: integer }, bathrooms: { type: number }, monthlyRent: { $ref: '#/components/schemas/Money' } } }
    RentalApplicationInput: { type: object, required: [unitId, answers], properties: { unitId: { type: string }, answers: { type: object, additionalProperties: true }, documentIds: { type: array, items: { type: string } } } }
    LeaseInput: { type: object, required: [unitId, tenantId, startDate, rent, deposit, termsVersion], properties: { unitId: { type: string }, tenantId: { type: string }, startDate: { type: string, format: date }, endDate: { type: string, format: date }, rent: { $ref: '#/components/schemas/Money' }, deposit: { $ref: '#/components/schemas/Money' }, termsVersion: { type: string } } }
    PaymentInput: { type: object, required: [leaseId, amount, type, method], properties: { leaseId: { type: string }, amount: { $ref: '#/components/schemas/Money' }, type: { type: string }, method: { type: string }, reference: { type: string } } }
    ServiceOfferInput: { type: object, required: [categories, serviceArea], properties: { categories: { type: array, items: { type: string } }, serviceArea: { type: array, items: { type: string } }, hourlyRate: { $ref: '#/components/schemas/Money' } } }
    MaintenanceRequestInput: { type: object, required: [propertyId, title, description, category, priority], properties: { propertyId: { type: string }, unitId: { type: string }, title: { type: string }, description: { type: string }, category: { type: string }, priority: { type: string } } }
    QuoteInput: { type: object, required: [laborAmount, materialsAmount, validUntil], properties: { laborAmount: { $ref: '#/components/schemas/Money' }, materialsAmount: { $ref: '#/components/schemas/Money' }, validUntil: { type: string, format: date-time } } }
    ReportInput: { type: object, required: [workPerformed], properties: { workPerformed: { type: string }, materials: { type: array, items: { type: string } }, totalCost: { $ref: '#/components/schemas/Money' }, customerConfirmation: { type: boolean } } }
    DocumentInput: { type: object, required: [ownerId, type, storageKey], properties: { ownerId: { type: string }, relatedType: { type: string }, relatedId: { type: string }, type: { type: string }, storageKey: { type: string } } }
